/* Adicione estilos personalizados aqui */

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #2c3e50;
    /* Azul escuro */
}

.navbar-brand {
    color: #ecf0f1 !important;
    /* Branco */
}

.navbar-nav .nav-link {
    color: #ecf0f1 !important;
    /* Branco */
}

.navbar-nav .nav-link:hover {
    color: #3498db !important;
    /* Azul claro ao passar o mouse */
}

.py-5 .container img {
    width: 250px;

}

.py-5 .container {
    background-color: #f8f9fa;
    /* Fundo cinza claro */
}

.bg-light {
    background-color: #ffffff !important;
    /* Fundo branco para seção de projetos */
}

.bg-dark {
    background-color: #2c3e50 !important;
    /* Fundo azul escuro para o rodapé */
    color: #ecf0f1;
    /* Texto branco no rodapé */
}

.apresentacao {
    color: #ffffff;
    background-color: #22282e;
    height: 100vh;
}


.container-apresentacao {
    display: flex;
    justify-content: center;

}

.lado-direito {

    margin-right: auto;


    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    background-image: url('perfil5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 450px;
}

.lado-esquerdo {

    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    margin-left: auto;
    padding-top: 60px;
    align-items: center;
    background-color: #000000;
}


.texto {
    width: 100%;
    font-size: larger;
    height: auto;
}

#top-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: none;
}

.carousel-item img {
    width: 100%;
    height: 720px;
    /* Ajuste a altura conforme necessário */

}

.texto-com-fundo-java {
    background-color: rgb(0, 0, 0);
    /* Cor de fundo */
    ;
    /* Espaçamento interno para o texto não encostar nas bordas do fundo */
    text-transform: uppercase;
    border-radius: 5px;
}

.texto-com-fundo {
    background-color: rgb(255, 255, 255);
    /* Cor de fundo */
    color: #000000;
    padding: 5px;
    /* Espaçamento interno para o texto não encostar nas bordas do fundo */
    text-transform: uppercase;
    border-radius: 5px;
}

@media (max-width: 768px) {

    /* Estilos para dispositivos com largura máxima de 768px */
    .carousel-item img {
        width: 100%;
        /* Define a largura da imagem como 100% para ocupar toda a largura do carousel */
        height: auto;
        /* Define a altura como automática para manter a proporção da imagem */
    }

    .container-apresentacao {
        display: flex;
        /* Define o contêiner pai como um flex container */
        margin: auto;
        /* Centraliza os itens horizontalmente */
    }

    .lado-esquerdo,
    .lado-direito {
        flex: 1;
        /* Faz com que ambos os elementos ocupem o mesmo espaço */
        max-width: 50%;
        /* Define a largura máxima de cada elemento como 50% da largura do contêiner pai */
    }

    .lado-direito {
        background-image: url('perfil5.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: auto;
        /* Defina a altura desejada para ambos os lados */
    }

    .texto {
        font-size: 10px;
        /* Reduz o tamanho do texto para dispositivos móveis */
    }

    .btn {
        margin-bottom: 10px;
        /* Adiciona um espaçamento entre os botões para dispositivos móveis */
        width: 100%;
        /* Define a largura total para os botões em dispositivos móveis */
    }





}